# Vector databases
data/vectordb/
data/vector_db/
chroma/
*.db
*.sqlite

# Model Cache
.cache/

# Mac/Windows junk
.DS_Store
Thumbs.db

# Python bytecode
__pycache__/
*.pyc

# Virtual Environments
venv/
.env/
