# Vector databases
data/vectordb/
data/vector_db/
chroma/
*.db
*.sqlite
data/processed/

# Model Cache
.cache/

# Mac/Windows junk
.DS_Store
Thumbs.db

# Python bytecode
__pycache__/
*.pyc

# Virtual Environments
venv/
.env/


# Jupyter Notesbooks
notebooks/

# Random Stuff You Don't Need
tests/
.vscode/ 

